# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

exercise[0-9][0-9].pdf
exercise\ [0-9].pdf
*.docx
_minted-*
*.aux
*.log
*.out
*.synctex.gz


# Verilog stuff
INCA_libs/
*.log
